{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div id="userInfo">
        <div id="userAvatar">
            <h3>Avatar</h3>
            <img src="{{ showuser.get_profile.avatar }}"/>
        </div>
        <div id="userStats">
            <h3>Stats</h3>
            <ul>
                <li>Joined: {{ showuser.date_joined|timesince }} ago</li>
            </ul>
        </div>
    </div>
    <div id="userProfile">
        <h3>Profile</h3>
        <div>
            {% if showuser.get_profile.profile %}
                {{ showuser.get_profile.profile }}
            {% endif %}
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
