{% extends "base.html" %}
{% block content %}
    {% if artists %}
        <ul>
            {% for artist in artists %}
                <li>
                    <a href="/artists/{{ artist.name }}">{{ artist.name }}</a>
                    <ul>
                        {% if artist.album_set.all %}
                            {% for album in artist.album_set.all %}
                                <li><a href="/albums/{{ album }}">{{ album}}</a></li>
                                {% if album.tags.all %}
                                    <h6>Tags</h6>
                                    <ul>
                                        {% for tag in album.tags.all %}
                                            <li>{{ tag.name }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}

                    {% else %}
                        <li>no albums</li>
                    {% endif %}
                    </ul>
                </li>
            {%  endfor %}
        </ul>
    {%  else %}
        No artists available.
    {% endif %}
{% endblock %}