<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Djembe{% endblock %}</title>
    <link rel="stylesheet" href="/media/styles/main.css" />
    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
        function addDefault(a) {
            a.data("default",a.val());
            a.focus(function(e) {
                if ($(e.target).val() == $(e.target).data("default")) $(e.target).val("");
            });
            a.blur(function (e) {
                if ($(e.target).val() == "") $(e.target).val($(e.target).data("default"));
            });
        }
        function autocomplete(a,b) {
            a.data("type",b)
            a.attr("autocomplete","off");
            a.focus(function (e) {
                $("#autocomplete").css("display","none");
                $("#autocomplete").html("");
                $("#autocomplete").width($(e.target).outerWidth());
                newoffset = $(e.target).offset();
                newoffset.top += $(e.target).height()+10
                $("#autocomplete").css("top",newoffset.top+"px");
                $("#autocomplete").css("left",newoffset.left+"px");
            });
            a.blur(function () {
               $("#autocomplete").css("display","none");
            });
            a.keydown(function (e) {
               switch (e.keyCode) {
                   case 38:
                       e.preventDefault();
                       break;
               }
            });
            a.keyup(function (e) {
                //console.log($(e.target).data("typed"));
                switch(e.keyCode) {
                    case 27://escape
                        if ($(e.target).data("typed")) {
                            $(e.target).val($(e.target).data("typed"));
                        }
                        $("#autocomplete").html("");
                        $("#autocomplete").css("display","none");
                        break;
                    case 40://down
                        $(e.target).data("selected",$(e.target).data("selected")+1)
                        $("#autocomplete div.centerMatch").removeClass("autoselect");
                        if ($(e.target).data("selected") >= $("#autocomplete div.centerMatch").length) {
                            console.log("was: "+$(e.target).data("typed"));
                            $(e.target).val($(e.target).data("typed"));
                            $(e.target).data("selected",-1);
                            break;
                        }
                        $($("#autocomplete div.centerMatch")[$(e.target).data("selected")]).addClass("autoselect");
                        $(e.target).val($("#autocomplete div.centerMatch")[$(e.target).data("selected")].innerHTML);
                        break;
                    case 38://up
                        $(e.target).data("selected",$(e.target).data("selected")-1);
                        $("#autocomplete div.centerMatch").removeClass("autoselect");
                        if ($(e.target).data("selected") == -1) {
                            $(e.target).val($(e.target).data("typed"));
                            break;
                        } else if ($(e.target).data("selected") == -2) {
                            $(e.target).data("selected", $("#autocomplete div.centerMatch").length-1);
                        }
                        $($("#autocomplete div.centerMatch")[$(e.target).data("selected")]).addClass("autoselect");
                        $(e.target).val($("#autocomplete div.centerMatch")[$(e.target).data("selected")].innerHTML);
                        break;
                    default:
                        $(e.target).data("typed",e.target.value);
                        $(e.target).data("selected",-1);
                        $.get("/ajax",
                                {letters:a.val(),
                                    kind:a.data("type")},
                                function(data) {
                                    //console.log("response received");
                                    $("#autocomplete").html("");
                                    matches = $.parseJSON(data);
                                    console.log(matches);
                                    if ($(e.target).data("type") != "mega") {
                                        matches = matches[$(e.target).data("type")];
                                    }
                                    if (matches && matches.length < 1) {
                                        $("#autocomplete").css("display","none");
                                    } else {
                                        $("#autocomplete").css("display","block");
                                    }
                                    if ($(e.target).data("type") != "mega") {
                                        for (x in matches) {
                                            match = document.createElement("div");
                                            if (matches[x].name) {
                                                match.innerHTML = matches[x].name;
                                            } else if(matches[x].username) {
                                                match.innerHTML = matches[x].username;
                                            }
                                            $(match).addClass("centerMatch");
                                            $("#autocomplete").append(match);
                                        }
                                    } else {
                                        for (x in matches) {
                                            separator = document.createElement("div");
                                            $(separator).addClass("centerSeparator");
                                            separator.innerHTML = x;
                                            $("#autocomplete").append(separator);
                                            for (b in matches[x]) {
                                                match = document.createElement("div");
                                                if (matches[x][b].name) {
                                                    match.innerHTML = matches[x][b].name;
                                                } else {
                                                    match.innerHTML = matches[x][b].username;
                                                }
                                                $(match).addClass("centerMatch");
                                                $("#autocomplete").append(match);
                                            }
                                        }
                                    }
                                    $("#autocomplete div").mouseenter(function(e) {
                                        $("#autocomplete div").removeClass("autoselect");
                                        $(e.target).addClass("autoselect");
                                    });
                                    $("#autocomplete div").mouseleave(function (e) {
                                       $(e.target).removeClass("autoselect");
                                    });
                                    $("#autocomplete div").mousedown(function(e) {
                                       window.location = "/artists/"+$(e.target).html();
                                    });
                                }
                        );
                        break;
                }
            });
        }
        ctrldown = spacedown = spaceisdown = false;
        $(document).ready(function () {
            addDefault($("#hSearchArtist input"));
            addDefault($("#hSearchAlbum input"));
            addDefault($("#hSearchUser input"));
            autocomplete($("#hSearchArtist input"),"artists");
            autocomplete($("#hSearchAlbum input"),"albums");
            autocomplete($("#hSearchUser input"),"users");
            autocomplete($("#centerSearch input"),"mega");
            $(document).keyup(function(e){
                if (e.keyCode == 32) spacedown = spaceisdown = false;
                if (e.keyCode == 17) ctrldown = false;
            });
            $("#centerSearch").click(function (e) {
               if (e.target.type != "text") {
                   $("#centerSearch").css("display","none");
                   $("#centerSearch input").blur();
               }
            });
            $(document).keydown(function (e) {
                if (e.keyCode == 32) spaceisdown = true;
                if (e.keyCode == 17 && !spaceisdown) ctrldown = true
                if (e.keyCode == 32 && ctrldown && !spacedown) {
                    spacedown = true
                    if ($("#centerSearch").css("display") == "none") {
                        $(document.activeElement).blur();
                        $("#centerSearch").fadeIn("fast",function () {
                            $("#center").animate({
                                top:0
                            },300, function () {
                                $("#centerSearch input").focus();
                            });
                        });
                    } else {
                        $("#centerSearch input").blur();
                        $("#center").animate({
                            top:'-1000px'
                        },300,function () {
                            $("#centerSearch").fadeOut();
                        });
                    }

                }
                if (e.keyCode == 27) {
                    if ($("#centerSearch").css("display") != "none") {
                        $("#centerSearch").css("display","none");
                        $("#centerSearch input").blur();
                    }
                }
            });

            $("#centerSearch input").keydown(function(e) {
               switch(e.keyCode) {
                   case 9:
                       return false
                       break;
               }
            });
        });
    </script>
</head>

<body>
<div id="autocomplete"></div>
<div id="centerSearch">
    <div id="background"></div>
    <div id="center">
        <form target="_blank">
            <input type="text" value="Search"/>
        </form>
    </div>
</div>
<div id="page">
<div id="header">
    {% block header %}
        <div id="user">
            {% if user.is_authenticated %}
                <ul>
                <li><a href="/profile/mine">{{ user.username }}</a></li>
                <li><a href="/profile/edit">Edit</a></li>
                <li><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
            </ul>
            {% else %}
                Not logged in
            {% endif %}
        </div>
        <div id="menu">
            <a href="{% url Djembe.views.index %}">Home</a>
            <a href="{% url groups.views.artistsIndex %}">Artists</a>
        </div>
        <div id="searchbar">
            <form name="albums" class="search" id="hSearchAlbum">
                <input type="text" value="Albums"/>
            </form>
            <form name="artists" class="search" id="hSearchArtist" action="/artists/" method="GET">
                <input type="text" name="artist" value="Artists"/>
            </form>
            <form name="users" class="search" id="hSearchUser" action="/user/" method="GET">
                <input type="text" name="username" value="Users"/>
            </form>
        </div>
        <hr />
    {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

<div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
</div>
</div>
</body>

</html>