{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Djembe{% endblock %}</title>
    <link rel="stylesheet" href="/{% static "styles/main.css" %}" />
    <link rel="stylesheet" href="/{% static "styles/bootstrap.min.css" %}">
    <script src="/{% static "scripts/jquery-1.7.1.min.js" %}"></script>
    <script src="/{% static "scripts/bootstrap-dropdown.js" %}"></script>
    <script src="/{% static "scripts/bootstrap-modal.js" %}"></script>
    <script>
        function addDefault(a) {
            a.data("default",a.val());
            a.focus(function(e) {
                if ($(e.target).val() == $(e.target).data("default")) $(e.target).val("");
            });
            a.blur(function (e) {
                if ($(e.target).val() == "") $(e.target).val($(e.target).data("default"));
            });
        }
        function checkUnique(a,b) {
            a.data("type",b)
            a.data("unique",true)
            a.change(function(e) {
                $.get("/ajax/unique",
                      {letters:a.val(),
                          kind:a.data("type"),
                          unique:true},
                      function(data) {
                          response = $.parseJSON(data)
                          a.data("unique",response);
                          if (response) {
                              a.parent().parent().addClass("warning")
                              a.parent().append("<span class=\"help-inline\">Not unique</span>")
                          } else {
                              a.parent().parent().removeClass("warning")
                              a.parent().children("span").remove()
                          }

                      }
                );

            });
        }
        function autocomplete(a,b,linking) {
            linking = typeof(linking) != 'undefined' ? linking : true;
            a.data("type",b)
            a.attr("autocomplete","off");
            a.focus(function (e) {
                $("#autocomplete").css("display","none");
                $("#autocomplete").html("");
                $("#autocomplete").width($(e.target).outerWidth());
                newoffset = $(e.target).offset();
                newoffset.top += $(e.target).height()+10
                $("#autocomplete").css("top",newoffset.top+"px");
                $("#autocomplete").css("left",newoffset.left+"px");
            });
            a.blur(function () {
               $("#autocomplete").css("display","none");
            });
            a.keydown(function (e) {
               switch (e.keyCode) {
                   case 38:
                       e.preventDefault();
                       break;
               }
            });
            a.keyup(function (e) {
                //console.log($(e.target).data("typed"));
                switch(e.keyCode) {
                    case 27://escape
                        if ($(e.target).data("typed")) {
                            $(e.target).val($(e.target).data("typed"));
                        }
                        $("#autocomplete").html("");
                        $("#autocomplete").css("display","none");
                        break;
                    case 40://down
                        $(e.target).data("selected",$(e.target).data("selected")+1)
                        $("#autocomplete div.centerMatch").removeClass("autoselect");
                        if ($(e.target).data("selected") >= $("#autocomplete div.centerMatch").length) {
                            console.log("was: "+$(e.target).data("typed"));
                            $(e.target).val($(e.target).data("typed"));
                            $(e.target).data("selected",-1);
                            break;
                        }
                        $($("#autocomplete div.centerMatch")[$(e.target).data("selected")]).addClass("autoselect");
                        $(e.target).val($("#autocomplete div.centerMatch")[$(e.target).data("selected")].innerHTML);
                        break;
                    case 38://up
                        $(e.target).data("selected",$(e.target).data("selected")-1);
                        $("#autocomplete div.centerMatch").removeClass("autoselect");
                        if ($(e.target).data("selected") == -1) {
                            $(e.target).val($(e.target).data("typed"));
                            break;
                        } else if ($(e.target).data("selected") == -2) {
                            $(e.target).data("selected", $("#autocomplete div.centerMatch").length-1);
                        }
                        $($("#autocomplete div.centerMatch")[$(e.target).data("selected")]).addClass("autoselect");
                        $(e.target).val($("#autocomplete div.centerMatch")[$(e.target).data("selected")].innerHTML);
                        break;
                    default:
                        $(e.target).data("typed",e.target.value);
                        $(e.target).data("selected",-1);
                        $.get("/ajax",
                                {letters:a.val(),
                                    kind:a.data("type")},
                                function(data) {
                                    //console.log("response received");
                                    $("#autocomplete").html("");
                                    matches = $.parseJSON(data);
                                    if ($(e.target).data("type") != "mega") {
                                        matches = matches[$(e.target).data("type")];
                                    }
                                    if (matches && matches.length < 1) {
                                        $("#autocomplete").css("display","none");
                                    } else {
                                        $("#autocomplete").css("display","block");
                                    }
                                    if ($(e.target).data("type") != "mega") {
                                        for (x in matches) {
                                            match = document.createElement("div");
                                            if (matches[x].name) {
                                                match.innerHTML = matches[x].name;
                                            } else if(matches[x].username) {
                                                match.innerHTML = matches[x].username;
                                            }
                                            $(match).data("link","/"+$(e.target).data("type")+"/"+match.innerHTML)
                                            $(match).addClass("centerMatch");
                                            $("#autocomplete").append(match);
                                        }
                                    } else {
                                        for (x in matches) {
                                            separator = document.createElement("div");
                                            $(separator).addClass("centerSeparator");
                                            separator.innerHTML = x;
                                            $("#autocomplete").append(separator);
                                            for (b in matches[x]) {
                                                match = document.createElement("div");
                                                if (matches[x][b].name) {
                                                    match.innerHTML = matches[x][b].name;
                                                } else {
                                                    match.innerHTML = matches[x][b].username;
                                                }
                                                $(match).data("link","/"+x+"/"+match.innerHTML);
                                                if (matches[x][b].artists) {
                                                    match.innerHTML += " by "
                                                    for (artist in matches[x][b].artists) {
                                                        match.innerHTML += matches[x][b].artists[artist].name
                                                        if (artist != matches[x][b].artists.length-1) {
                                                            match.innerHTML += ", "
                                                        }
                                                    }
                                                }
                                                $(match).addClass("centerMatch");
                                                $("#autocomplete").append(match);
                                            }
                                        }
                                    }
                                    $("#autocomplete div").mouseenter(function(e) {
                                        $("#autocomplete div").removeClass("autoselect");
                                        $(e.target).addClass("autoselect");
                                    });
                                    $("#autocomplete div").mouseleave(function (e) {
                                       $(e.target).removeClass("autoselect");
                                    });
                                    $("#autocomplete div").mousedown(function(e) {
                                        if (linking) {
                                            window.location = $(e.target).data("link")
                                        } else {
                                            a.val($(e.target).html());
                                        }
                                    });
                                }
                        );
                        break;
                }
            });
        }
        ctrldown = spacedown = spaceisdown = false;
        $(document).ready(function () {
            for (i=0;i<$(".nav li a").length;i++) {
              if ($(".nav li a")[i].pathname == window.location.pathname && $($(".nav li a")[i]).attr("href") != "#") {
                  $($(".nav li")[i]).addClass("active")
              }
            }
            $("img").click(function (e) {
                $("#stage").html(e.target.outerHTML);
                pos = $("#stage").css("position");
                $("#stage").css("position","fixed");
                $("#lightbox").css("display","block");
                targetCSS = {
                    width:$("#stage img").width()+"px",
                    height:$("#stage img").height()+"px",
                    top:$("#stage img").offset().top+"px",
                    left:$("#stage img").offset().left+"px"
                };
                $("#lightbox").css("display","none");
                $("#stage").css("position",pos);
                returnCSS = {
                   "position":"absolute",
                   "width":$(e.target).width()+"px",
                   "height":$(e.target).height()+"px",
                    "top":($(e.target).offset().top-11-$("body").scrollTop())+"px",
                    "left":$(e.target).offset().left-11+"px"
                };
                $("#stage img").data("return",returnCSS);
                $("#stage img").data("source",$(e.target));
                $("#stage img").css(returnCSS);
                $("#lightbox").fadeIn(function () {
                    $("#stage img").animate(targetCSS,500,function(){
                        $("#lightbox").click(function () {
                            ret = $("#stage img").data("source");
                            returner = {
                                "position":"absolute",
                                "width":ret.width()+"px",
                                "height":ret.height()+"px",
                                "top":ret.offset().top-11-$("body").scrollTop()+"px",
                                "left":ret.offset().left-11+"px",
                            };
                            $("#stage img").animate(returner,function () {
                                $("#lightbox").fadeOut();
                            });
                            $(this).unbind("click");
                        })
                    });
                });
            });
            addDefault($("#hSearchArtist input"));
            addDefault($("#hSearchAlbum input"));
            addDefault($("#hSearchUser input"));
            addDefault($("#hSearchForum input"));
            autocomplete($("#hSearchArtist input"),"artists");
            autocomplete($("#hSearchAlbum input"),"albums");
            autocomplete($("#hSearchUser input"),"users");
            autocomplete($("#hSearchForum input"),"forums");
            autocomplete($("#centerSearch input"),"mega");
            $(document).keyup(function(e){
                if (e.keyCode == 32) spacedown = spaceisdown = false;
                if (e.keyCode == 17) ctrldown = false;
            });
            $("#centerSearch").click(function (e) {
               if (e.target.type != "text") {
                   $("#centerSearch").css("display","none");
                   $("#centerSearch input").blur();
               }
            });
            $(document).keydown(function (e) {
                if (e.keyCode == 32) spaceisdown = true;
                if (e.keyCode == 17 && !spaceisdown) ctrldown = true
                if (e.keyCode == 32 && ctrldown && !spacedown) {
                    spacedown = true
                    if ($("#centerSearch").css("display") == "none") {
                        $(document.activeElement).blur();
                        $("#centerSearch").fadeIn("fast",function () {
                            $("#center").animate({
                                top:0
                            },300, function () {
                                $("#centerSearch input").focus();
                            });
                        });
                    } else {
                        $("#centerSearch input").blur();
                        $("#center").animate({
                            top:'-1000px'
                        },300,function () {
                            $("#centerSearch").fadeOut();
                        });
                    }
                    return false;

                }
                if (e.keyCode == 27) {
                    if ($("#centerSearch").css("display") != "none") {
                        $("#centerSearch").css("display","none");
                        $("#centerSearch input").blur();
                    }
                }
            });

            $("#centerSearch input").keydown(function(e) {
               switch(e.keyCode) {
                   case 9:
                       return false
                       break;
                   case 13:
                       if ($(".autoselect").length == 1) {
                           console.log($(".autoselect").data("link"));
                           window.location = $(".autoselect").data("link");
                           return false;
                       }
                       break;
               }
            });
        });
    </script>
</head>

<body>
<div id="lightbox">
    <div id="curtain"></div>
    <div id="stage">

    </div>
</div>
<div id="autocomplete"></div>
<div id="centerSearch">
    <div id="background"></div>
    <div id="center">
        <form target="_blank" action="/">
            <input type="text" value="Search"/>
        </form>
    </div>
</div>
{% block header %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Djembe</a>
            <ul class="nav" id="topNav">
                <li><a href="/">Home</a></li>
                <li class="dropdown" data-dropdown="dropdown">
                    <a href="#" class="dropdown-toggle">Music <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{%url plugins.music.views.artistsIndex%}">Artists</a></li>
                        <li><a href="{%url plugins.music.views.albumsIndex%}">Albums</a></li>
                    </ul>
                </li>
                <li class="dropdown" data-dropdown="dropdown">
                    <a href="#" class="dropdown-toggle">Movies <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{%url plugins.movies.views.filmsIndex%}">Films</a></li>
                        <li><a href="{%url plugins.movies.views.peopleIndex%}">People</a></li>
                    </ul>
                </li>
                <li><a href="{%url forum.views.index%}">Forum</a></li>
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown" data-dropdown="dropdown">
                    <a href="#" class="dropdown-toggle">{{user.username}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{%url userprofile.views.mine%}">View Profile</a></li>
                        <li><a href="{%url userprofile.views.editProfile%}">Edit</a></li>
                        <li><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
                        {% if user.get_profile.invites > 0 or user.is_staff %}
                        <li class="divider"></li>
                        <li><a href="{% url invitation.views.invite %}">Invite (
                            {% if user.is_staff %}
                                INF
                            {% else %}
                                {{user.get_profile.invites}}
                            {% endif %}
                        )</a></li>
                        {% endif %}
                        {% if user.is_staff %}
                        <li class="divider"></li>
                        <li><a href="/admin/">Admin</a></li>
                        {%endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    <div id="content" class="content">
        {% block content %}{% endblock %}
    </div>
</div>
<footer class="footer">
    <div class="container">
        {% block footer %}
            Made by Djembe, for you<br/>
            <!-- STATS: Total: %(totTime).2f Python: %(pyTime).2f DB: %(dbTime).2f Queries: %(queries)d -->
        {% endblock %}
    </div>
</footer>
</body>

</html>