{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h3>
    {% for artist in album.artists.all %}
        <a href="/artists/{{artist}}">{{artist}}</a>
        {% if not forloop.last %} & {% endif %}
    {% endfor %} -
    {{ album }}
    [{{album.released.year}}]
    [{{album.releaseType|capfirst}}]
</h3>
{% if album.tagcount_set.all %}
    <h5>tags</h5>
    <ul>
    {% for tagcount in album.tagcount_set.all %}
        <li>{{ tagcount.tag.name }} ({{ tagcount.count }})</li>
    {% endfor %}
    </ul>
{% endif %}
<form action="./addtag/" method="POST">
    {% csrf_token %}
    <input type="text" name="tag"/>
    <input type="submit" value="Add Tag"/>
</form>
{% endblock %}
