{% extends "base.html" %}
{% load i18n %}

{% block content %}
        <table>
            <tr class="colhead">
                <td>Album</td>
                <td>Artist</td>
                <td>Time</td>
            </tr>
            {% for album in albums %}
                <tr>
                    <td>
                        <a href="{{album.get_absolute_url}}">{{album.name}}</a>
                    </td>
                    <td>
                        {% for artist in album.artists.all %}
                            <a href="{{artist.get_absolute_url}}">{{artist.name}}</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% if album.sort %}
                            {{album.sort|timesince}} ago
                        {% else %}
                            No torrents
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}