{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h3>Forums</h3>
    {% for category,cat_forums in forums.items %}
        {% if cat_forums %}
        <div class="category">
            <div class="categoryHead">{{ category.title }}</div>
            <div class="forums">
                <table>
                    <tr class="colhead">
                        <td>Forum</td>
                        <td class="latest">Last Post</td>
                        <td class="topics">Topics</td>
                        <td class="posts">Posts</td>
                    </tr>
                    {% for forum in cat_forums %}

                        <tr>
                            <td><a href="/forums/forum/{{ forum.id }}">{{forum.title}}</a></td>
                            <td>
                                <span class="topic">
                                    <a href="/forums/thread/{{ forum.get_latest.id }}">
                                        {{forum.get_latest.title|truncatechars:50 }}
                                    </a>
                                    {% if forum.get_latest and forum.pages > 1 %}
                                        (
                                        <a href="/forums/thread/{{forum.get_latest.id}}/1">1</a>
                                        <a href="/forums/thread/{{forum.get_latest.id}}/2">2</a>
                                        {% if forum.pages == 3 %}
                                            <a href="/forums/thread/{{forum.get_latest.id}}/3">3</a>
                                        {% elif forum.pages == 4 %}
                                            <a href="/forums/thread/{{forum.get_latest.id}}/3">3</a>
                                            <a href="/forums/thread/{{forum.get_latest.id}}/4">4</a>
                                        {% elif forum.pages > 4 %}
                                            -
                                            <a href="/forums/thread/{{forum.get_latest.id}}/{{forum.pages|add:'-1'}}">{{forum.pages|add:"-1"}}</a>
                                            <a href="/forums/thread/{{forum.get_latest.id}}/{{forum.pages}}">{{forum.pages}}</a>
                                        {% endif %}
                                        )
                                    {% endif %}
                                    {% if forum.lastRead != 0 %}
                                        <a href="/forums/post/{{forum.lastRead}}">&#8635;</a>
                                    {% endif %}
                                </span>
                                {% if forum.get_latest %}
                                <span class="lastPoster">by
                                    <a href="/users/{{ forum.get_latest.latest_poster.username }}">
                                        {{ forum.get_latest.latest_poster.username }}</a>
                                    {{ forum.get_latest.latest_post.datePosted|timesince }} ago
                                </span>
                                {% endif %}
                            </td>
                            <td>{{forum.threads__count }}</td>
                            <td>{{ forum.threads__posts__count }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}