{% extends "base.html" %}
{% load i18n %}
{% load macros %}
{% load djembe_filters %}

{% macro paginator %}
     {% if posts.has_other_pages %}
    <div class="pagination">
        <ul style="display:inline-block;float:none">
        {% if posts.has_previous %}
            <li class="first"><a href="/forums/thread/{{thread.id}}/">&lt;&lt; First</a></li>
            <li><a href="/forums/thread/{{thread.id}}/{{posts.previous_page_number}}">&lt; Prev</a></li>
        {% endif %}
        {% if posts.has_other_pages %}
            {% for index, page in showPages.items %}
                {% if page.start_index == posts.start_index %}
                   <li class="active"><a>{{page.start_index}}-{{page.end_index}}</a></li>
                {% else %}
                    <li><a href="/forums/thread/{{thread.id}}/{{index|add:startPage|add:1}}">
                        {{page.start_index}}-{{page.end_index}}
                    </a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if posts.has_next %}
            <li><a href="/forums/thread/{{thread.id}}/{{posts.next_page_number}}"> Next &gt;</a></li>
            <li class="next"><a href="/forums/thread/{{thread.id}}/{{pages|length}}"> Last &gt;&gt;</a></li>
        {% endif %}
        </ul>
    </div>
    {% endif %}
{% endmacro %}

{% block content %}
    <div class="page-header">
        <ul class="breadcrumb">
            <li>
                <h3><a href="{% url forum.views.index %}">Forums</a><span class="divider">/</span></h3>
            </li>
            <li>
                <h3><a href="{% url forum.views.index %}forum/{{ thread.forum_set.get.id }}">
                    {{ thread.forum_set.get.title }}</a>
                <span class="divider">/</span></h3>
            </li>
            <li class="active"><h3>{{ thread.title }}</h3></li>
        </ul>
    </div>
    <div class="paginator">
        {% usemacro paginator %}
    </div>
    <div id="posts">
    {% for post in posts.object_list %}
        <table class="post" id="post{{post.id}}">
            <tr>
                <td colspan="2" class="head">
                    <span class="pull-left">
                        <a href="/forums/post/{{post.id}}">#{{ post.id }}</a>
                        <a href="/users/{{ post.poster.username }}">
                            {{ post.poster.username }}
                        </a>
                        {{ post.datePosted|timesince }} ago
                        [<a href="#" onclick="toggleEdit({{post.id}});return false;">Edit</a>]
                    </span>
                    <span class="pull-right">
                        <a href="#">&uarr;</a>
                    </span>
                    <span class="clear"></span>
                </td>
            </tr>
            <tr class="body">
                <td class="avatar">
                    <img src="{{ post.poster.get_profile.avatar }}" />
                </td>
                <td class="text">
                    <div class="edit">
                        <div class="preview"></div>
                        <form>
                            <textarea>
                                {{post.text}}
                            </textarea>
                            <div class="actions">
                                <input type="submit" value="Submit" class="btn primary" onclick="ajaxEdit({{post.id}},'submit');return false"/>
                                <input type="submit" value="Preview" class="btn" onclick="ajaxEdit({{post.id}},'preview');return false"/>
                                <input type="submit" value="Cancel" class="btn" onclick="toggleEdit({{post.id}});return false"/>
                            </div>
                        </form>

                    </div>
                    <div class="markup">
                        {{ post.text|bbcode }}
                        {% if post.editor != NULL %}
                            <br/><br/>
                            Last edited by <a href="/users/{{post.editor.username}}">{{post.editor.username}}</a>
                            {% with post.dateModified|timesince as delta %}
                                {% ifequal delta "0 minutes" %}
                                    just now
                                {% else %}
                                    {{ post.dateModified|timesince }} ago
                                {% endifequal %}
                            {% endwith %}
                        {% endif %}
                    </div>
                </td>
            </tr>
        </table>
    {% endfor %}
    </div>
    <div class="paginator">
        {% usemacro paginator %}
    </div>
    {% comment %}
    <ul class="breadcrumb">
        <li><a href="{% url forum.views.index %}">Forums</a><span class="divider">/</span></li>
        <li>
            <a href="{% url forum.views.index %}forum/{{ thread.forum_set.get.id }}">
                {{ thread.forum_set.get.title }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ thread.title }}</li>
    </ul>
    {% endcomment %}
    <div id="newPost">
        <h3>Post Reply</h3>
        <form action="." method="POST">
            {% csrf_token %}
            <textarea name="body"></textarea>
            <br />
            <div class="actions">
            <input type="submit" class="btn primary"/>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        function toggleEdit(id){
            $("#post"+id+" .edit").toggle();
            $("#post"+id+" .markup").toggle();
            unpreviewEdit(id)
        }
        function ajaxEdit(id,action) {
            edit = $("#post"+id+" .edit");
            markup = $("#post"+id+" .markup");
            function preview(response) {
                console.log("a")
                edit.find(".preview").html(response).show();
                edit.find("textarea").hide();
                edit.find("input[value='Preview']").attr("value","Edit").attr("onclick","unpreviewEdit("+id+");return false;");
            }
            function editCallback(response) {
                markup.html(response);
                toggleEdit(id);
            }
            if (action=="preview") {
                url = "{%url ajax.views.postPreview%}";
                callback = preview;
            } else {
                url = "{%url ajax.views.editPost%}?id="+id;
                callback = editCallback;
            }
            $.post(url,{
                       "text":edit.find("textarea").val(),
                       "csrfmiddlewaretoken":"{{csrf_token}}"
                   },callback);
        }
        function unpreviewEdit(id) {
            edit = $("#post"+id+" .edit");
            edit.find("textarea").show();
            edit.find(".preview").hide();
            edit.find("input[value='Edit']").attr("value","Preview").attr("onclick","ajaxEdit("+id+",'preview');return false;");
        }
    </script>

{% endblock %}