{% extends "base.html" %}
{% load i18n %}
{% load macros %}

{% macro paginator %}
     {% if posts.has_other_pages %}
    <div class="pagination">
        <ul style="display:inline-block;float:none">
        {% if posts.has_previous %}
            <li class="first"><a href="/forums/thread/{{thread.id}}/">&lt;&lt; First</a></li>
            <li><a href="/forums/thread/{{thread.id}}/{{posts.previous_page_number}}">&lt; Prev</a></li>
        {% endif %}
        {% if posts.has_other_pages %}
            {% for index, page in showPages.items %}
                {% if page.start_index == posts.start_index %}
                   <li class="active"><a>{{page.start_index}}-{{page.end_index}}</a></li>
                {% else %}
                    <li><a href="/forums/thread/{{thread.id}}/{{index|add:startPage|add:1}}">
                        {{page.start_index}}-{{page.end_index}}
                    </a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if posts.has_next %}
            <li><a href="/forums/thread/{{thread.id}}/{{posts.next_page_number}}"> Next &gt;</a></li>
            <li class="next"><a href="/forums/thread/{{thread.id}}/{{pages|length}}"> Last &gt;&gt;</a></li>
        {% endif %}
        </ul>
    </div>
    {% endif %}
{% endmacro %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url forum.views.index %}">Forums</a><span class="divider">/</span></li>
        <li>
            <a href="{% url forum.views.index %}forum/{{ thread.forum_set.get.id }}">
            {{ thread.forum_set.get.title }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ thread.title }}</li>
    </ul>
    <div class="paginator">
        {% usemacro paginator %}
    </div>
    <div id="posts">
    {% for post in posts.object_list %}
        <table class="post" id="post{{post.id}}">
            <tr>
                <td colspan="2" class="head">
                    <a href="/forums/post/{{post.id}}">#{{ post.id }}</a>
                    <a href="/users/{{ post.poster.username }}">
                        {{ post.poster.username }}
                    </a>
                    {{ post.datePosted|timesince }} ago
                    <a href="#">&uarr;</a>
                </td>
            </tr>
            <tr class="body">
                <td class="avatar">
                    <img src="{{ post.poster.get_profile.avatar }}" />
                </td>
                <td class="text">
                    <div>
                        {{ post.text|linebreaksbr }}
                        {% if post.editor != NULL %}
                            <br/><br/>
                            Last edited by <a href="/users/{{post.editor.username}}">{{post.editor.username}}</a>
                            {% with post.dateModified|timesince as delta %}
                                {% ifequal delta "0 minutes" %}
                                    just now
                                {% else %}
                                    {{ post.dateModified|timesince }} ago
                                {% endifequal %}
                            {% endwith %}
                        {% endif %}
                    </div>
                </td>
            </tr>
        </table>
    {% endfor %}
    </div>
    <div class="paginator">
        {% usemacro paginator %}
    </div>
    {% comment %}
    <ul class="breadcrumb">
        <li><a href="{% url forum.views.index %}">Forums</a><span class="divider">/</span></li>
        <li>
            <a href="{% url forum.views.index %}forum/{{ thread.forum_set.get.id }}">
                {{ thread.forum_set.get.title }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ thread.title }}</li>
    </ul>
    {% endcomment %}
    <div id="newPost">
        <h3>Post Reply</h3>
        <form action="." method="POST">
            {% csrf_token %}
            <textarea name="body"></textarea>
            <br />
            <input type="submit"/>
        </form>
    </div>

{% endblock %}